{% extends 'base.html.twig' %}
{% block body %}
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="" id="navSearch">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="navAdd">Add</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if pkgList and oldUser %}
        <div class="d-flex justify-content-center mt-2">
            <div class="d-inline-flex">
                <form action="" method="post">
                    <input type="hidden" id="oldUsername" name="oldUsername" value="{{ oldUser.username }}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" aria-describedby="Username"
                               placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="domain">Domain</label>
                        <input type="text" name="domain" class="form-control" aria-describedby="domain"
                               placeholder="Enter Domain">
                    </div>
                    {% if errors %}
                        <p>
                            {{ errors.domainError }}
                        </p>
                    {% endif %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" aria-describedby="domain"
                               placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="plan">Plan</label>
                        <select class="custom-select" name="plan">
                            {% for value in pkgList %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    {% endif %}
    {% if data %}
        <p>{{ data.message }}</p>
    {% endif %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    </body>
{% endblock %}